<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    注意: 应在 App.config 文件中添加条目，以获取仅适用于
    测试项目的配置设置。
-->
<configuration>
	<configSections>
		<section name="LibrariesConfig" type="EC.Libraries.Framework.LibrariesConfig, EC.Libraries.Framework" requirePermission="false"/>
	</configSections>

	<LibrariesConfig>

		<RedisConfig>
			<!--var client = ClientProxy.GetInstance<IRedisProvider>()-->
			<Url>127.0.0.1:6379</Url>
		</RedisConfig>
		<!--MongoDB-->
		<MongoDBConfig>
			<ConnectionString>mongodb://localhost</ConnectionString>
			<DBName>1000n</DBName>
		</MongoDBConfig>

	</LibrariesConfig>
	<connectionStrings>
    <add name="MySqlConnectionString" providerName="MySql" connectionString="Data Source=127.0.0.1;Initial Catalog=1000n;user id=root;password=4484578" />
	</connectionStrings>
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient"/>
			<add name="MySql.Data.MySqlClient" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
		</DbProviderFactories>
	</system.data>
</configuration>
