<div class="con2 mgz bai">
    <ul>
        <li>
            @ViewBag.WalletAmount<br>
            <span class="xi18">奖金余额</span>
        </li>
        <li>
            @ViewBag.UpgradeFundAmount<br>
            <span class="xi18">升级基金</span>
        </li>
        <li>
            @ViewBag.BonusAmount<br>
            <span class="xi18">待结算</span>
        </li>
    </ul>
</div>