@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="topt mgz"></div>
<div class="top mgz xi28 cen bai">
    修改密码
    <div class="topl"><a href="@Url.Content("~/Me/Info")"><img src="/Theme/images/left.png" align='absmiddle' style="margin-top:-4px"></a></div>
</div>
@Html.Action("FundShow", "Me")
<div class="con4 mgz">
    <ul>
        <li>
            <div class="con4l f xi24">旧密码</div>
            <div class="con4m f xi20"><input type="password" name="oldPassword" placeholder="请输入您的旧密码"></div>
        </li>
        <li>
            <div class="con4l f xi24">新密码</div>
            <div class="con4m f xi20"><input type="password" name="password" placeholder="请输入您的新密码"></div>
        </li>
        <li>
            <div class="con4l f xi24">确认密码</div>
            <div class="con4m f xi20"><input type="password" name="confirmPassword" placeholder="请再次输入新密码"></div>
        </li>
        @*
        <li>
            <div class="con4l f xi24">验证码</div>
            <div class="con4m f xi20"><input type="text" placeholder="请输入手机验证码"></div>
            <a href="#"><div class="con4rs r xi20 cen">发送验证码</div></a>
        </li>
        *@
    </ul>
</div>
<a id="submit"><div class="con10 mgz xi30 cen bai mg2" style="margin-top:26px">确认</div></a>
@section script{
    <script type="text/javascript">
        $(function () {

            var form = $("#form");

            $("a#submit").click(function () {

                var oldPassword = $("input[name='oldPassword']").val();
                var password = $("input[name='password']").val();
                var confirmPassword = $("input[name='confirmPassword']").val();

                if ($.vailCenter.isNullOrEmptySpance(oldPassword)) {
                    UI.Tips("请输入旧密码！");
                    return false;
                }

                if ($.vailCenter.isNullOrEmptySpance(password)) {
                    UI.Tips("请输入新密码！");
                    return false;
                }

                if ($.vailCenter.isNullOrEmptySpance(confirmPassword)) {
                    UI.Tips("请输入确认密码！");
                    return false;
                }

                UI.Loading();

                var data = {
                    oldPassword: oldPassword,
                    password: password,
                    confirmPassword: confirmPassword,
                };

                $.post("@Url.Action("Password", "Me")", data, function (res) {
                    if (res.Status) {

                        UI.Tips(res.Message);

                        UI.Hide();

                    } else {
                        UI.Tips(res.Message);

                        UI.Hide();
                    }
                });
            });
        });

    </script>
}

