@{
    Layout = null;
}

<<<<<<< HEAD
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>菜单创建</title>
</head>
<body>
    <div>
        Token:@(ViewBag.accessToken)
    </div>
</body>
</html>
=======
accessToken:@(ViewBag.accessToken)
>>>>>>> 389a763b5d5be9b73c54d7bc22fc63aeb5e6f3e0
