<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.36.12" targetFramework="net45" />
  <package id="AutoMapper" version="4.1.1" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="UnitTestGenerator" version="0.4.4.0" targetFramework="net45" />
</packages>